{% extends 'base.html' %}
{% load static %}


{%block content%}
<div class="container hero">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Vezeto</h1>
            <p style="color: white;text-align: center;">Nullam id dolor id nibh ultricies vehicula ut id
                elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                porta gravida at eget metus.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                at eget metus.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio,
                dapibus ac facilisis in, egestas eget quam. Donec
                id elit non mi porta gravida at eget metus.Nullam id dolor id nibh ultricies vehicula ut id
                elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                porta gravida at eget metus.Nullam id dolor
                id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam. Donec id elit non mi porta gravida at eget metus.Nullam id dolor id nibh
                ultricies vehicula ut id elit. Cras justo odio, dapibus
                ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.Nullam
                id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Donec id elit non mi porta
                gravida at eget metus.Nullam id dolor id nibh ultricies vehicula ut id
                elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                porta gravida at eget metus.Nullam id dolor
                id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam. Donec id elit non mi porta gravida at eget metus.Nullam id dolor id nibh
                ultricies vehicula ut id elit. Cras justo odio, dapibus
                ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.Nullam
                id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Donec id elit non mi porta
                gravida at eget metus.<br><br><br></p>
        </div>
    </div>
    <h3 id="Events" class="text-center">Events</h3>
    <br>
    <div class="card-deck">
        {% for Event in Events%}
        <div class="card text-white bg-dark">
            <img src="{%static 'event.jpg' %}" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title  text-center">{{Event.event_name}}</h5>
                    <p class="card-text">{{Event.event_description}}<br>Event Venue:
                        {{Event.event_venue}}<br>Contact: {{Event.event_contact}}<br><b>Registration Fee:
                            {{Event.regn_fees}}</b></p>
                    <a href="/registration" class="btn btn-primary">Register</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}