{% extends 'base.html' %}
{%load crispy_forms_tags %}

{%block content%}
<div class="login-dark">
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <!-- <div class="form-group"><input class="form-control" type="text" placeholder="Name">{{form.name}}</div>
        <div class="form-group"><input class="form-control" type="text" placeholder="Institute">{{form.institute_name}}</div>
        <div class="form-group"><input class="form-control" type="text" placeholder="Year">{{form.year}}</div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email">{{form.email}}</div>
        <div class="form-group"><input class="form-control" type="tel" placeholder="Phone">{{form.phone}}</div> -->
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div>
        <a class="forgot" href="/#Events">Take a look at Events</a>
    </form>
</div>
</div>
{%endblock%}
